*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zilla Slab', serif;
}
body{
	background-color: #e9ecef;
}
html{
	scroll-behavior: smooth;
}
.topnav {
  overflow: hidden;
  background-color: #a4d8ff;
  justify-content: right;

}
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
#ako{
	height: 70%;
	width: 70%;
	border-radius: 700px;
}
ul, li{
	list-style: none;
}
.form-row{
	margin: 2px;	
}
.footer{
	background-color: #a4d8ff;
	text-align: center;
}
.fa{
	font-size: 30px;
	color: currentColor;
}
.about-me{
	padding: 10px;
}
.about-text{
	text-align: center;
	line-height: 1.8;
	font-size: 27px;
}
#home h1, h2{
font-family: 'Xanh Mono', monospace !important;
text-align: center;
color: white;
}
.container h1, h2{
	color: white;
	font-weight: 2px;
}
.page-scroll a{
	font-size: 50px;
}
.projects{
	background-color: #ffcba4;
}
#about, #projects, #contact{
	background-color: #f8ead9;
}
#home{
	background-image: url(../images/home.jpg);
	background-size: auto;
	padding: 100px;
}

.btn{
	border-radius: 8px;
	background-color: #e6b376;
}
#projects img{
border-radius: 8px;
}
#caps2, #caps3{
font-family: 'Xanh Mono', monospace !important;
text-align: center;
color: black;
background-size: auto;
padding: 5px;
background-color: #f8ead9;
}
#caps2-img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200%;
}
#caps3-img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200%;
}